*,*::before,*::after{
    box-sizing: border-box;
    margin-top: 0;
}

.motivationCard {
	height: 100%;
	padding: 10rem 20rem;
	/*align-content: center;*/
}

.app-container {
	height: 100vh;
	background-color: #84e1b3;
}

.card {
    margin-right: auto;
    margin-left: auto;
    width: 550px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 250px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.btn {
	margin-top: 2rem;
}

.card-title {
	margin-top: 2rem;
}
